{{ define "main" }}
<header class="masthead" style="height:auto;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <div class="embed-responsive embed-responsive-21by9">
        <a href="#about"><img src="/img/{{ .Site.Params.heroPhoto }}" /></a>
      </div>
      <p>
        <a href="https://twitter.com/{{ .Site.Params.Twitter }}">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkedin.com/{{ .Site.Params.LinkedIn }}">
          <i class="fab fa-linkedin"></i>
        </a>
      </p>
    </div>
  </div>
</header>

<section class="about-section text-center" id="about">
  <div class="container">
    <div class="text-white-50">
      {{ range .Data.Pages }}
        {{ if eq .Type "about" }}
          {{ .Content }}
        {{ end }}
      {{ end}}
    </div>
  </div>
</section>
{{ end }}
